
@media screen and (min-width: 1400px) {

    iframe,
    img,
    video {
        max-width: 100%;
        height: auto;
        display: block;
    }

    body {
        font-size: 18px;
    }

    .contenedor,
    .tarjetas-grid {
        max-width: 1300px;
    }

    .contenido {
        padding: 30px;
    }

    .contenedor h2,
    .tarjeta h2 {
        font-size: 28px;
    }

    .contenedor .texto,
    .tarjeta .texto {
        font-size: 20px;
    }

    .boton-ver-mas,
    .boton-comunidad {
        font-size: 16px;
        padding: 12px 20px;
    }

    .titulo-videos,
    .titulo-galeria,
    .titulo-seccion {
        font-size: 42px;
    }

    .imagen-galeria {
        height: 500px;
    }

    .footer-derecha a {
        font-size: 30px;
    }

    .reproductor-audio audio {
        max-width: 700px;
        height: 50px;
    }
}

@media screen and (min-width: 1400px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
        font-size: 18px;
    }

    header {
        justify-content: space-between;
        align-items: center;
        padding: 40px 120px;
    }

    .logo img {
        height: 70px;
    }

    nav {
        gap: 40px;
        font-size: 18px;
    }

    .iconos {
        gap: 30px;
        font-size: 24px;
    }

    .shop-container {
        padding: 80px 120px;
        gap: 60px;
    }

    .producto {
        width: 25%;
        padding: 30px;
    }

    .producto h3 {
        font-size: 22px;
    }

    .shade {
        font-size: 16px;
    }

    .colores {
        gap: 12px;
    }

    .color {
        width: 24px;
        height: 24px;
    }

    .boton-agregar {
        font-size: 17px;
        padding: 16px 0;
        width: 100%;
    }

    .contenedor-footer {
        padding: 80px 120px;
        gap: 60px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .footer-izquierda iframe {
        width: 400px;
        height: 260px;
    }

    .footer-centro .logo-footer {
        height: 80px;
    }

    .footer-derecha {
        gap: 30px;
    }

    .footer-derecha a i {
        font-size: 30px;
    }

    .derechos p {
        font-size: 14px;
        padding: 15px;
        text-align: center;
    }
}